@(title: String)(content: Html)(implicit request: play.api.mvc.RequestHeader)

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
    </head>

    @defining(request.cookies.get("theme").map(_.value).getOrElse("auto")) { theme =>
        @defining(theme match {
            case "light" => "theme-light"
            case "dark"  => "theme-dark"
            case _        => "theme-auto"
        }) { themeClass =>
            @defining(theme match {
                case "light" => "Dark Mode"
                case "dark"  => "Light Mode"
                case _        => "Dark Mode" // aus Auto heraus anbieten
            }) { toggleLabel =>

                <body class="game @themeClass">
                    <header class="game__header">
                        <h1 class="game__title">Wizard</h1>
                        <a class="theme-switch" href='@routes.ThemeController.toggleTheme(returnTo = request.uri)'>
                        @toggleLabel
                        </a>
                    </header>

                    @content

                </body>

            }
        }
    }
</html>